

header {
    background-color: rgba(160, 176, 148, 0.7); /* slightly transparent */
}

nav a:hover {
    background-color: #000000;
    color: #ffffffa9;
}

body {
    background-color: #ada4a4; /* soft off-white */
    color: #333;
}
#background {
    background-color: #6cc0dc;
}
.msg {
    background-color: #887c7c;
    color: #333333;
}
footer {
    background-color: #1f2933;
    color: #6d6262;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}
#background {
    height: 725px;
}
.book,
.join {
    background-color: #1f6f8b;
    color: #ffffff;
}

.book:hover,
.join:hover {
    background-color: #145369;
}
nav a {
    color: #ffffff;
}

nav a:hover {
    background-color: #000;
    color: #d9c2a3;
}

.home-title {
    color: #ffffff;
}

h4 {
    color: #ffffff;
}

.book,
.join {
    background-color: #1f6f8b;
    color: #ffffff;
}

.book:hover,
.join:hover {
    background-color: #145369;
    color: #ffffff;
}

.msg h2 {
    color: #1f2933;
}

.msg p {
    color: #333333;
}

footer {
    background-color: #1f2933;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #d9c2a3;
}
.logo {
    width: 80px;
}
#hero-img {
    width: 100%;
}
nav a {
    text-decoration: none;
}
.book,
.join {
    text-decoration: none;
}
footer a {
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
